* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(hsl(0, 0%, 0%), hsl(278, 98%, 18%));
  background-attachment: fixed;
}

header {
  width: 100%;
  text-align: center;
  color: aquamarine;
  margin-top: 50px;
}

i.bi-music-note-beamed {
  font-size: 70px;
}

#drum-machine {
  border: 2px solid white;
  border-radius: 20px;
  background: linear-gradient(black, #36454F);
  display: flex;
  width: 55%;
  height: 300px;
  margin: 100px auto;
  justify-content: center;
  gap: 10%;
}

#drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  height: 280px;
  width: 280px;
  padding: 20px 20px;
  text-align: center;
  order: 1;
}

.drum-pad {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#2c3e50, black);
  border-radius: 20px;
  color: bisque;
  font-size: 25px;
  box-shadow: 5px 5px whitesmoke;
}

#units {
  height: 300px;
  width: 300px;
  order: 2;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.drum-pad:active {
  transform: translateX(5px) rotate(10deg);
  transition: transform .2s ease-in-out;
}

.drum-pad:hover {
  background: linear-gradient(#2c3e507d, black);
  cursor: pointer;
}

#display {
  margin-top: 50px;
  height: auto;
  width: 200px;
  text-align: center;
  font-size: 1.5em;
  color: white;
  flex: 1;
}

#mute {

  width: 100px;
  margin-bottom: 25px;

}
i.bi-volume-up-fill,
i.bi-volume-mute-fill {
  font-size: 30px;
}

#slider {
  margin-bottom: 50px;
  width: 220px;

}